.traffic-wrapper {
  height: 300px;
  width: 100px;
  margin: 0 auto;
}
.traffic-border {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
}
.one-light-wrapper {
  flex: 1;
  margin: 0 auto;
  width: 80%;
  display: flex;
}
.traffic-light {
  border: 1px solid black;
  border-radius: 100%;
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  margin: auto 0;
}
.red-light{
  background-color: red;
  border-color: red;
}
.yellow-light{
  background-color: yellow;
  border-color: yellow;
}
.green-light{
  background-color: green;
  border-color: green;
}